@import '../assets/variables';

:host {
  background-color: $grey;
}

.sidenav-container {
  height: calc(100% - 70px);
}

.left-menu {
  background-color: $blue-900;
  color: $secondary-50;

  button {
    display: block;
    margin: 16px 0;
  }
}

.active-link::before {
  // border-left: 1px solid red;
  background-color: $red-500;
  content: '';
  display: block;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.main-content {
  padding: 8px;
}

h3 {
  margin: 64px 0 0;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

table {
  width: 100%;
}

.filter {
  font-size: 14px;
  padding: 16px;
  width: 100%;
}
