<header></header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side" class="left-menu">
    <a mat-button routerLink="/buttons" routerLinkActive="active-link">
      <mat-icon>bookmark_border</mat-icon>
    </a>
    <button mat-button routerLink="/inputs" routerLinkActive="active-link">
      <mat-icon>accessibility</mat-icon>
    </button>
    <button mat-button routerLink="/tabs" routerLinkActive="active-link">
      <mat-icon>announcement</mat-icon>
    </button>
    <button mat-button routerLink="/grid" routerLinkActive="active-link">
      <mat-icon>drag_indicator</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>fingerprint</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>room</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>work_outline</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
