<h1>Material Buttons</h1>

<section>
  <h2 class="section-title">Raised buttons</h2>
  <button mat-raised-button color="primary">Click</button>
  <button mat-raised-button color="accent">Click</button>
  <button mat-raised-button color="warn">Click</button>
</section>

<section>
  <h2 class="section-title">Stroked buttons</h2>
  <button mat-stroked-button color="primary">Click</button>
  <button mat-stroked-button color="accent">Click</button>
  <button mat-stroked-button color="warn">Click</button>
</section>

<section>
  <h2 class="section-title">Stroked buttons</h2>
  <button mat-fab color="primary">Click</button>
  <button mat-fab color="accent">Click</button>
  <button mat-fab color="warn">Click</button>
</section>

<section>
  <h2 class="section-title">Raised buttons with icons</h2>
  <button mat-raised-button color="primary"><mat-icon>bookmark_border</mat-icon>Click</button>
  <button mat-raised-button color="accent"><mat-icon>bookmark_border</mat-icon>Click</button>
  <button mat-raised-button color="warn"><mat-icon>bookmark_border</mat-icon>Click</button>
</section>
