/*
    Primary theme colors
*/

$blue-50: #e8ebf0;
$blue-100: #c4cedc;
$blue-200: #9eaec3;
$blue-300: #7a8fab;
$blue-400: #5c779a;
$blue-500: #3e608c;
$blue-600: #375883;
$blue-700: #2f4e77;
$blue-800: #29446a;
$blue-900: #223351;
/*
    Secondary theme colors
*/

$secondary-50: #ffffff;
$secondary-100: #fafafa;
$secondary-200: #f5f5f5;
$secondary-300: #f0f0f0;
$secondary-400: #dedede;
$secondary-500: #c2c2c2;
$secondary-600: #979797;
$secondary-700: #818181;
$secondary-800: #606060;
$secondary-900: #3c3c3c;
$secondary-A100: #3c3c3c;
$secondary-A200: #3c3c3c;
$secondary-A400: #3c3c3c;
$secondary-A700: #3c3c3c;

/*
    Warn palette
 */

$red-50: #F9EAED;
$red-100: #F1C9CF;
$red-200: #E99FAB;
$red-300: #EF7B8E;
$red-400: #ED5A73;
$red-500: #DF5169;
$red-600: #CF4159;
$red-700: #BB4055;
$red-800: #A93B4D;
$red-900: #90293A;

$grey: #f0f0f0;

/*
    Secondary theme colors Green
*/
/*
$secondary-50: #E8F5E9;
$secondary-100: #C8E6C9;
$secondary-200: #A5D6A7;
$secondary-300: #81C784;
$secondary-400: #66BB6A;
$secondary-500: #4CAF50;
$secondary-600: #43A047;
$secondary-700: #388E3C;
$secondary-800: #2E7D32;
$secondary-900: #1B5E20;
$secondary-A100: #B9F6CA;
$secondary-A200: #69F0AE;
$secondary-A400: #00E676;
$secondary-A700: #00C853;
*/